#box {
	height: 400px;
	background-color: #008026;
	color: white;
	border-radius: 20px;
	width: 80%;
	margin: auto;
	text-align: center;
}

#surveyBtn {
    width: 25%;
    background-color: white;
    color: #008026;
    font-weight: bolder;
    font-size: 24px;
    font-style: italic;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#surveyBtn:hover {
    background-color: #f4ffff;
}

footer {
    width: 100%;
    text-align: center;
}

#surveyPage {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.questions {
	width: 20%;
	height: 30px;
}
#submitBtn {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    font-size: 20px;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#submitBtn:hover {
    background-color: #45a049;
}
